.header
  a.header__title(href="/about")=meta.data.title
    //- svg.header__title__icon

    //- ul.navigation__list
    //-   each item in navigation.data.list
    //-     li.navigation__list__item
    //-       a.navigation__list__link(href=Link(item.link))=item.text 

      